---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import BlogPostList from "../../components/BlogPostList.astro";

const allPosts = await getCollection("blog");
const posts = allPosts.sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			@media (max-width: 720px) {
				main {
					width: 100%;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			{posts && posts.length > 0 && <BlogPostList posts={posts} />}
		</main>
		<Footer />
	</body>
</html>
