---
import Layout from "../layouts/Page.astro";
---

<Layout title="About" description="About James Devine">
	<p>
		I hold a <a
			href="https://www.research.lancs.ac.uk/portal/en/publications/enabling-intuitive-and-efficient-physical-computing(57d08e7e-a744-4788-8b57-f15260a21dc6).html"
			>PhD in Computer Science</a
		> and have a passion for building systems that are efficient, accessible,
		and user-friendly. My interests include electronics, embedded systems, and
		accessibility. More recently I have turned my focus towards AI and machine
		learning. I love sharing knowledge and building things that help others.
	</p>
	<p>
		In my past, I co-wrote the micro:bit runtime, a lightweight operating
		system that for the <a href="https://microbit.org/">BBC micro:bit</a> that
		supports
		<a href="https://makecode.microbit.org/">Microsoft MakeCode</a> and Python.
		These technologies are used by millions of children around the world to learn
		computer science concepts.
		<b>FILL OUT</b>
	</p>
	<p>
		More recently, I created <a href="https://aka.ms/jacdac">Jacdac</a>, a
		flexible communication protocol for microcontrollers--think USB but
		actually a bus and implementable on microcontrollers that cost three US
		cents. With my research colleagues, Jacdac was productised and released
		to the world. It is now integrated into physical computing accessories
		sold by many manufacturers. <b>FILL OUT</b>
	</p>
	<p>
		I now lead the <a
			href="https://learn.microsoft.com/en-us/azure-sphere/product-overview/what-is-azure-sphere?view=azure-sphere-integrated"
			>Azure Sphere OS and tooling team</a
		>, an IoT platform that provides hardware protections and secure
		connection to the cloud for connected device scenarios.
	</p>
</Layout>
