---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Image from "astro/components/Image.astro";
import profile from "../assets/profile.JPG";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<center>
				<Image
					src={profile}
					alt="James Devine's profile picture"
					width="150"
					height="150"
				/>
			</center>
			<h1>👋 Greetings</h1>
			<p>
				Welcome to my personal website and blog. Here, I share my
				thoughts on software development, technology, and life in
				general. Feel free to explore my blog posts, check out my
				projects on GitHub, or just say hello!
			</p>

			<h2>About me</h2>
		</main>
		<Footer />
	</body>
</html>

<style></style>
